body{
    margin: 0px;
    /* overflow-y: hidden; */
}
section{
    position: relative;
    display: flex;
    flex-direction: column;
}
.upperDiv{ 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    background-color: rgb(39, 31, 31);
}

.lowerDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(  rgb(252, 59, 0),rgb(255, 102, 0));
    overflow-y: hidden;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    background:none ;
    padding: 2vh;
    padding-left: 0vh;
    
}

.inputBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vw;
    background:none;

    font-family: 'Laila', sans-serif;
    font-weight: 500;
    font-size: 10vh;
    color: rgb(213, 218, 223);
}

input{
    height: 5vh;
    font-family: 'Lato', sans-serif;
    font-size:medium;
    text-align: center;
    border: 1vh solid rgb(255, 102, 0);
}

button{
    height: 8vh;
    width: 20vh;
    background-color: rgb(252, 59, 0);
    font-weight: 500;
    font-size: 5vh;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    color: rgb(248, 171, 120);
    border-radius: 50px;
    border-style: none;

}

.orange{
    position: relative;
    height: 11vh;
    background-image: linear-gradient( rgb(255, 102, 0), rgb(252, 59, 0));
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button:focus{
    background-color: red;
}



.waveTop {
    position: relative;
    /* bottom: 0; */
    top: 1vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waveTop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 10vh;
}

.waveTop .shape-fill {
    fill: #271F1F;
}

.waveMain{
    aspect-ratio: 900/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer {
    background-image: url(./src/layered-waves-haikei.svg);
}

#bubble1{
    margin-top: -5vh;
    width: 20vw;
}

#bubble2{
    /* margin-left: 12vw; */
    width: 60vw;
}

#bubble3{
    margin-top: -7vh;
    width: 10vw;
}

#blob1{
    height: 13vh;
}

#blob2{
    height: 13vh;
}

